.c-image-carousel {
    width: 100%;
    height: 800px;
    background-color: beige;
    position: relative;
    padding: 36px;
    display: flex;
    justify-content: center;

    .grey-box {
        width: 708px;
        height: 425px;
        background-color: black;
        position: absolute;
        top: -128px;
        left: 275px;
        z-index: -1;
    }
}