@media only screen and (max-width: 760px) {
    .c-image-carousel {    
        height: 365px;
        padding: 21px;

        .grey-box {
            width: 271px;
            height: 212.5px;
            top: -140px;
            left: 70.5px;
        }
    }
}