.c-header {
  width: 100%;
  height: 793px;
  padding-top: 208px;
  padding-bottom: 40px;

  background-color: grey;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  .header-content {
    max-width: 605px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .logo {
      margin-bottom: 60px;
    }

    p {
      max-width: 526px;
    }
  }
}
