@media only screen and (max-width: 760px) {
    .c-header {
        height: 100vh;
        padding-top: 91px;
        padding-bottom: 44px;

        .header-content {
            height: 70vh;
            justify-content: space-between;

            h1 {
                max-width: 147px; 
            }
          
            p {
                max-width: 192px;
            }
        }
    }
}
