$black-first: #000000;
$black-second: #0c0c0c;
$black-third: #191919;
$black-fourth: #272727;
$black-fifth: #303030;
$black-sixth: #444444;

$grey-base: grey;
$grey-first: #a9a9a9; 
$grey-second: #b2b2b2;
$grey-third: #cdcaca;
$grey-fourth: #d3d3d3;
$grey-fifth: #e0e0e0;
$grey-sixth: #e4e4e4;
$grey-seventh: #eceaea;
$grey-eighth: #f2f2f2;
$grey-ninth: rgba(255, 255, 255, 0.3);

$white: #ffffff;
$white-second: #f9f9f9;
$blue: #4bc6e8;
$blue-light: rgba(75, 198, 232, 0.3);

$beige: beige;
$azure: azure;
$bisque: bisque;
$transparent: transparent;