// fonts
$font-base: helvetica, arial, 'sans-serif'; 

//Font-style template

@mixin font-style($font-family, $font-size, $font-weight, $color, $line-height, $letter-spacing:0px, $font-style:normal) {
 font-family: $font-family;
 font-size: $font-size;
 font-weight: $font-weight;
 color: $color;
 line-height: $line-height;
 letter-spacing: $letter-spacing;
 font-style: $font-style;
}

body {
  p {
    @include font-style($font-base, 18px, normal, $white, 35px, 1.8px); 
  }

  .nav-links {
    @include font-style($font-base, 18px, normal, $white, 25px);
  }

  .header-text {
    @include font-style($font-base, 24px, normal, $grey-fifth, 40px, 2.4px);
  }

  .paragraph-grey {
    @include font-style($font-base, 18px, normal, $black-sixth, 35px, 1.8px);
  }

  .subheading-blue {
    @include font-style($font-base, 20px, normal, $blue, 20px, 8.4px);
  }

  .white-bold-heading{
    @include font-style($font-base, 50px, normal, $white, 50px, 21px);
  }

  .black-bold-heading{
    @include font-style($font-base, 50px, normal, $black-first, 50px, 21px);
  }

  .small-white-bold-heading{
    @include font-style($font-base, 30px, normal, $white, 30px, 12.6px);
  }

  .footer-heading {
    @include font-style($font-base, 20px, normal, $white, 20px, 8.4px);
  }

  .footer-icp { 
    @include font-style($font-base, 20px, normal, $white, 20px);
  }

  .footer-small { 
    @include font-style($font-base, 14px, normal, $white, 35px, 1.4px);
  }
}

@import './mobile-fonts.scss';