.c-footer {
    display: flex;
    width: 100%;
    min-height: 376px;

    .margin-text {
        padding-left: 69px;
    }

    .heading {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 48px;
            height: 2px;
            background-color: white;
            top: 40%;
            left: 0;
        }
    }

    .black-box {
        width: 60%;
        background-color: black;

        padding: 68px 71px 29px 270px;

        .text-wrapper {
            max-width: 641px;
            max-height: 279px;
            display: flex;
            flex-direction: column;

            .heading {
                margin-bottom: 31px;
            }

            .paragraph {
                margin-bottom: 44px;
            }
        }
    }

    .background-box {
        width: 40%;
        background-color: grey;

        padding: 68px 199px 63px 106px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        .icp {
            display: none;
        }

        .heading {
            margin-bottom: 45px;
        }

        .social-images {
            max-width: 213px;
            min-height: 143px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 23px;
            
            .social-mini {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .wechat {
                img {
                    width: 143px;
                    height: 143px;
                    margin-bottom: 11.5px;
                }
            }
        }
    }
}