@media only screen and (max-width: 760px) {
    .c-footer {
        min-height: none;
        flex-direction: column;

        .margin-text {
            padding-left: 31px;
        }


        .heading {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 24px;
                height: 2px;
                background-color: #ffffff;
                top: 40%;
                left: 0;
            }
        }

        .black-box {
            width: 100%;
            padding: 39px 40px 38px 47.5px;

            .text-wrapper {
                max-width: 323.5px;
                max-height: none;
                display: flex;
                flex-direction: column;
    
                .heading {
                    margin-bottom: 18.5px;
                }
    
                .paragraph {
                    margin-bottom: 0;
                }

                .icp {
                    display: none;
                }
            }
        }

        .background-box { 
            width: 100%;
            padding: 40px 0 19.5px 0;
            align-items: flex-start;

            .icp {
                display: block;
            }

            .heading {
                margin-left: 11px;
                margin-bottom: 29.5px;
            }

            .social-images {
                max-width: 130px;
                justify-content: flex-start;
                flex-direction: column;
                margin: auto;
                
                .social-mini {
                    flex-direction: row;
                }
    
                .wechat {
                    margin-bottom: 54.5px;

                    img {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }
    }
}