.c-diamond-nav {
    margin-top: auto;
    
    .diamonds {
        min-width: 210px;
        height: 25px;
    
        display: flex;
        justify-content: space-between;

        li {
            img {
                width: 30px;
                height: inherit;
            };
        }
    }
}