@media only screen and (max-width: 760px) { 
    .c-diamond-nav {        
        .diamonds {
            min-width: 140px;
            height: 25px;
        
            display: flex;
            justify-content: space-between;
    
            li {
                img {
                    width: 19px;
                    height: inherit;
                };
            }
        }
    }
}