.c-page-nav {
    z-index: 3;
    width: 97px;
    min-height: 756px;
    padding: 40px 0;

    background-color: black;
    
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 542px;

        li {
            margin-bottom: 20px;

            a {
                writing-mode: vertical-rl;
                text-orientation: upright;
                opacity: 0.6;

                &:active {
                    opacity: 1;
                }
            }
        }
    }

    .arrow {
        width: inherit;
        margin-top: auto;
        display: flex;

        img {
            margin: auto;
            width: 22px;
            height: 48px;
        }
    }
}