@media only screen and (max-width: 760px) {
    .c-page-nav {
        width: 32px;
        height: 100vh;
        padding: 31px 0 39px 0;
        margin-left: 23px;

        background-color: transparent;

        .nav-list {
            height: 80vh;
        }
    }
}
