.c-description-text {
   max-width: 935px;
   margin: 74px 0 68px 194px;

   display: flex;
   justify-content: space-between;
   align-items: flex-start;

   .preview {
       display: flex;
       flex-direction: column;

       .subheading {
           margin-bottom: 20px;
           position: relative;
           padding-left: 67px;

           &:before {
               content: '';
               width: 48px;
               height: 2px;
               background-color: blue;
               position: absolute;
               top: 40%;
               left: 0;
           }
       }
   }

   .paragraph {
       max-width: 453px;
   }
}