@media only screen and (max-width: 760px) { 
    .c-description-text {
        flex-direction: column;
        margin: 50px 43px 39px 35px;

        .preview {
            margin-bottom: 75px;
        }
    }
}