.c-white-description-box {
    width: 100%;
    height: 796px;
    background-color: white;
    position: relative;

    .picture {
        width: 601px;
        height: 896px;
        background-color: bisque;
        z-index: 1;
        position: absolute;
        top: -185px;
        left: 201px;
    }

    .grey-box {
        width: 708px;
        height: 630px;
        background-color: grey;
        position: absolute;
        top: 122px;
        left: 442px;
    }

    .c-description-text {
        max-width: 297px;
        margin: 0;

        flex-direction: column;

        position: absolute;
        top: 214px;
        left: 951px;
        z-index: 1;

        .preview {
            margin-bottom: 68px;

            .heading {
                color: black;
            }
        }     
    }
}