@media only screen and (max-width: 760px) {
    .c-white-description-box {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .picture {
            width: 304.5px;
            height: 448px;
            position: static;
            margin: auto;
            margin-top: -92px;
            margin-bottom: 27px;
        }

        .grey-box {
            width: 303.5px;
            height: 315px;
            top: 168px;
            left: 60.5px;
        }

        .c-description-text {
            max-width: 216.5px;
            position: static;
            text-align: left;
            margin-left: 33.5px;
        }
    }
}